.App {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.titleProfile {
    background-color: yellow;
    width: 20em;
    padding: 1em;
    border-width: 20px solid;
    border-radius: 1em;
}

.profilePic{
    width: 10em;
    height: 10em;
    margin-top: 1em;
    border-radius: 50%;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socialLink {
    color: inherit;
}